@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #222;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: Arial, sans-serif;
}